{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

<div class="login">
    <div class="form">
        <form method="post" class="login-form" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">Login</button>
            <p><a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
</div>